/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');




html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }


body {
    background: #090C1A;
}

.page {
    margin: 0 auto;
    background: #090C1A;
    font-family: "Montserrat", "Roboto", sans-serif;
}


/* Переиспользуемое. Модификаторы добавлять сюда*/
.section {
  max-width: 1290px;
  margin: 0 auto;
}

.main-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 50px;
}

.main-heading_place_about {
    margin-bottom: 32px;
}

.main-list {
  margin: 0;
  padding: 0 0 0 65px;
}

.main-list__item {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  list-style-type: none;
  position: relative;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-list__item::before {
  content: "";
  position: absolute;
  left: -56px;
  background: url('../images/list-item-checked.svg') no-repeat;
  width: 32px;
  height: 32px;
  background-size: cover;
}

.main-list_place_technology {
  padding-left: 56px;
}

.main-list_place_calc {
  padding: 0 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 210px;
  width: 440px;
}

.main-list__item_place_calc {
  font-size: 14px;
  line-height: 120%;
  margin: 0 0 18px 0;
}

.main-list__item_place_calc::before {
  content: "";
  position: absolute;
  left: -25px;
  background: url('../images/list-item-checked-calculator.svg') no-repeat;
  width: 17px;
  height: 17px;
}

.main-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  margin: 0 0 20px;
}

.main-paragraph_place_about:nth-of-type(1) {
  margin-bottom: 20px;
}


.main-paragraph_place_about:nth-of-type(2) {
  margin-bottom: 60px;
}

.main-paragraph_place_extras {
  margin-bottom: 40px;
}



/*Переиспользуемое. Конец -------------------------------------- */

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 18px 10px 0 ;
  margin-bottom: 154px;
  position: relative;
  /* background-color: rgba(0, 0, 0, .5); */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.header__logo {
  width: 67px;
  height: 60px;
}

.header__phone {
  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  color: #FF6901;
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 660px;
  border-bottom: 2px solid #3F4555;
  padding-bottom: 18px;
}

.navbar__item {
  list-style-type: none;
}

.navbar__link {
  color: #9396A3;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  border-bottom: 2px solid #3F4555;
  padding-bottom: 18px;
  -webkit-transition: color ease-in-out .6s, border-bottom ease-in-out .6s;
  -o-transition: color ease-in-out .6s, border-bottom ease-in-out .6s;
  transition: color ease-in-out .6s, border-bottom ease-in-out .6s;
}

.navbar__link:hover {
  border-bottom: 2px solid #FF6901;
  color: #FF6901;
}


/* -------------mobile--menu-------------- */
.mobile-menu {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 611px;
  position: absolute;
  left: 0;
  top: 76px;
  justify-content: space-between;
  padding-bottom: 66px;
  z-index: 1;
  background-color: #090C1A;
}

.header__nav_place_mobile {
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
}

.navbar_place_mobile {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  border: 0;
  padding: 66px 0 0;
  /* flex: 1 1 auto; */
}

.navbar__item_place_mobile {
  margin-bottom: 32px;
}

.navbar__item_place_mobile:last-of-type {
  margin-bottom: 0;
}


.navbar__link_place_mobile {
  border: 0;
}

.button-action_type_mobile {
  /* flex-shrink: 1; */
}


/* -------------mobile--menu--end------------ */

.hero {
  position: relative;
  padding: 50px 0 150px;
  background: 
  url('../images/hero-shield.svg') no-repeat,
  url('../images/hero-bg-car.png') no-repeat 100% rgba(0, 0, 0, .1);
  margin-bottom: 100px;
  background-color: #090C1A;
  z-index: 0;
}

.hero__heading {
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0 0 16px;
  text-transform: uppercase;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 30%);
}

.hero__subheading {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #FF6901;
  margin: 0 0 16px;
  text-transform: uppercase;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 30%);
}

.hero__subheading:last-of-type {
  margin-bottom: 110px;
}

.button {
  display: block;
  width: 253px;
  height: 55px;
  border: 0;
  padding: 0;
  border-radius: 2px;
  background-color: #FF6901;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  color: #090C1A;
  -webkit-transition: 
  background-color ease-in-out .6s,
  color ease-in-out .6s;
  -o-transition: 
  background-color ease-in-out .6s,
  color ease-in-out .6s;
  transition: 
  background-color ease-in-out .6s,
  color ease-in-out .6s;
}

.button:hover {
  background-color: #FF7B01;
  cursor: pointer;
}

.button_place_calc {
  
  position: relative;
}

.button_place_calc-next {
  width: 253px;
  padding-right: 40px;
}

.button_place_calc-prev {
  width: 156px;
  background-color: transparent;
  color: #FF7B01;
  border: 1px solid #FF6901;
  padding-left: 40px;
}

.button_place_calc-next::before {
  position: absolute;
  content: '\25b6';
  right: 35px;
  font-size: 0.8em;
  top: 20px;
}

.button_place_calc-prev::before {
  position: absolute;
  content: '\25c0';
  left: 35px;
  font-size: 0.8em;
  top: 20px;
}

.button_place_calc-prev:hover {
  background-color: #FF6901;
  color: #000;
}

.button_place_action {
  background-color: #090C1A;
  color: #fff;
  margin: 0 auto;
}

.button_place_action:hover {
  background-color: #04060E;
}

.button_place_action_place_callback {
  width: 220px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  margin-bottom: 150px;
}

.intro__paragraph {
  margin-bottom: 26px;
}

.intro__paragraph:last-of-type {
  margin-bottom: 0;
}

.intro__text {
  max-width: 330px;
  margin: 50px 0 0 0;
}

.intro__compare {
  width: 530px;
  /* height: 500px !important; */
  margin: 0 26px 0 0;
}

.intro__list {
  margin-top: 52px;
  /* max-width: 272px; */
}

.intro__image {
  min-width: 100%;
}

.catalog {
  margin-bottom: 200px;
}

.catalog-slider {
  /* display: flex; */
  margin: 0 auto;
  /* justify-content: center; */
  width: 1136px;
  /* overflow: hidden; */
}

.catalog-slider__item {
  min-width: 284px;
  border: 1px solid #586074;
  border-collapse: collapse;
  padding: 30px 29px 0;
  height: 445px;
}

.catalog-slider__title {
  font-weight: 800;
  font-size: 22px;
  line-height: 120%;
  color: #fff;
  margin-top: 0;

}

.catalog-slider__descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  max-width: 220px;
  height: 150px;
}

.catalog-slider-list {
  padding: 0;
  margin: 0;
}

.catalog-slider-list__item {
  list-style-type: none;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.catalog-slider-list__key {
  color: #FF6901;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  margin-right: 16px;
}

.catalog-slider-list__value {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #586074;
}

.technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
}

.technology-list {
  max-width: 300px;
}

.technology-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 20px 220px 20px 220px 20px 220px;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
}

.technology-grid__video {
  width: 100%;
  height: 100%;
}

.technology-grid__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.technology-grid__video-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.portfolio {
  margin-bottom: 200px;
}

.portfolio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 430px;
  width: 960px;

}

.portfolio-slider__item {
  margin: 0 10px 0 0;
  width: 30%;
}

.portfolio-slider__photo {
  width: 100%;
  height: 435px; 
  -o-object-fit: cover; 
     object-fit: cover;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  -webkit-transition: -webkit-filter ease-in-out .6s;
  transition: -webkit-filter ease-in-out .6s;
  -o-transition: filter ease-in-out .6s;
  transition: filter ease-in-out .6s;
  transition: filter ease-in-out .6s, -webkit-filter ease-in-out .6s;
}

.portfolio-insta__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transition: -webkit-filter .6s ease-in-out;
  transition: -webkit-filter .6s ease-in-out;
  -o-transition: filter .6s ease-in-out;
  transition: filter .6s ease-in-out;
  transition: filter .6s ease-in-out, -webkit-filter .6s ease-in-out;
}

.portfolio-insta__wrapper:hover {
  -webkit-filter: brightness(.8);
          filter: brightness(.8);
}

.portfolio-insta__img {
  width: 100%;
}

.portfolio-insta__icon {
  margin-right: 30px;
}

.portfolio-insta__text {
  max-width: 170px;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #FF6901;
  margin: 0;
}

.form_place_calc {
  position: relative;
  width: 100%;
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #171C2C url('../images/calc-bg.png') no-repeat 90% 88%;
  display: flex;
  padding: 60px 76px;
  }

.step-caption {
  position: absolute;
  top: 0;
  right: 80px;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  margin: 0;
}

.step-caption__accent {
  color: #FF6901;
}


.form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
} 

.form-wrapper_place_calc {
  height: 204px;
}

.form-fieldset_place_step {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.form-wrapper_type_step .radio-wrapper {
  margin-bottom: 18px;
} 

.step-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
} 

.step-price__caption {
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}

.step-price__price {
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: #FF6901;
}

.form-wrapper_type_callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.calc-form {
  /* background: #171C2C url('../images/calculator-bg-k1.png') no-repeat 90% 88%; */
  padding: 60px 76px
}

.calc-pack-k1 {
  background: #171C2C url('../images/calculator-bg-k1.png') no-repeat 90% 88%;
  padding: 60px 76px
}

.calc-pack-k2 {
  background: #171C2C url('../images/calculator-bg-k2.png') no-repeat 90% 88%;
  padding: 60px 76px
}

.calc-pack-k3 {
  background: #171C2C url('../images/calculator-bg-k3.png') no-repeat 90% 88%;
  padding: 60px 76px
}

.calc-pack-k4 {
  background: #171C2C url('../images/calculator-bg-k4.png') no-repeat 90% 88%;
  padding: 60px 76px
}

.calc-pack-full {
  background: #171C2C url('../images/calculator-bg-k5.png') no-repeat 90% 88%;
  padding: 60px 76px
}

.form-wrapper_place_extras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #171C2C;  
    padding: 60px 76px;
}

.form_place_extras {
    max-width: 294px;
}

.form-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0 0 64px;
}

.form-fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    border: 0;
}

.form-fieldset_place_calc {
    margin: 0 130px 60px 0;
}

.form__label {
    font-weight: 800;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 18px;
    padding: 0 0 18px 8px;
    opacity: 1;
    -webkit-transition: opacity ease-in-out .6s;
    -o-transition: opacity ease-in-out .6s;
    transition: opacity ease-in-out .6s;
}

.form__label:hover {
  cursor: pointer;
  opacity: .3;
}

.form__label:last-of-type {
    padding-bottom: 0;
}

.radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio-wrapper:last-of-type {
  margin-bottom: 0;
}

.extras .radio-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.step-list__item {
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
}

.calc {
  padding-bottom: 200px;
}

.step-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#step4 {
  padding: 44px;
}

.extras {
  padding-bottom: 200px;
}

.extras__description {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3px;
}

.extras__price-caption {
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}

.extras__price {
  display: block;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: #FF6901;
}

.extras__img {
  width: 400px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

.action {
  padding: 70px 282px;
  background-color: #FF6901;
  margin-bottom: 200px;
}

.action__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 32px;
  width: 724px;
}

.callback {
  padding: 100px 82px;
  background: #171C2C url('../images/feedback-bg.png') no-repeat;
  margin-bottom: 200px;
}

.callback__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 8px;
}

.callback__subheading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FF6901;
  margin: 0 0 40px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
}

.about__img {
  margin-right: 104px;
  max-width: 100%;
  max-height: 100%;
}

.about__content {
  max-width: 520px;
  padding-right: 20px;
}

.callback-form {
  margin-bottom: 40px;
}

.callback-form__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callback-form__elements_place_step {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
} 

.callback-form__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: 0;
  margin-right: 80px;
}

.callback-form__fieldset_place {
  margin-bottom: 40px;
}

.callback-form__input {
  width: 330px;
  height: 55px;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
  padding: 18px 28px;
  outline: none;
  margin-right: 28px;
}

.callback-form__input:last-of-type {

  margin-right: 0;
}


.callback-form__label-tel {
  margin-left: 26px;
position: relative;
}

.callback-form__label-tel::before {
  display: block;
  position: absolute;
  content: 'Поле обязательно для заполнения';
  font-size: 10px;
  line-height: 120%;
  color: #FF5A5A;
  bottom: -18px;
  padding-left: 16px;
  background: url('../images/icon-required.svg') no-repeat;
}


.callback__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-data {
  max-width: 660px;
  margin: 0;
  font-size: 10px;
  line-height: 120%;
  color: #FFFFFF;
}

.personal-data_place_step {
  width: 330px;
  margin-right: 58px;
  padding-left: 2px;
}

.contacts {
  padding: 60px 73px;
  background: #090C1A;
  width: 550px;
  position: absolute;
  top: 136px;
  left: 190px;
}

.contacts__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 40px;
}

.contacts__text-item {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 18px;
}

.contacts__text-item:last-of-type {
  margin-bottom: 34px;
} 

.contacts-socials {
  margin-bottom: 34px;
}

.contacts-socials__item {
  margin-right: 14px;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transition: -webkit-filter .6s ease-in-out;
  transition: -webkit-filter .6s ease-in-out;
  -o-transition: filter .6s ease-in-out;
  transition: filter .6s ease-in-out;
  transition: filter .6s ease-in-out, -webkit-filter .6s ease-in-out;
}

.contacts-socials__item:hover {
  -webkit-filter: brightness(.8);
          filter: brightness(.8);
}

.contacts-socials__item:last-of-type {
  margin-right: 0;
}

.contacts__link {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  display: block;
}

.contacts__link:last-of-type {
  margin-bottom: 0;
}

.footer {
  position: relative;
}

.map {
  height: 730px;
  cursor: pointer;
}

.map-yandex {
  pointer-events: none;
  height: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.map-yandex_active {
  pointer-events: auto;
}

/* для слйадера */
.slick-arrow_place_catalog {
  width: 60px;
  height: 100%;
  background-color: #1C2130;
  border: 1px #1C2130 solid;
  -webkit-transition: background-color ease-in-out .6s;
  -o-transition: background-color ease-in-out .6s;
  transition: background-color ease-in-out .6s;
  position: absolute;
  top: 0;
}

.slick-arrow_place_catalog:hover {
  cursor: pointer;
  background-color: #FF6901;
}

.slick-arrow_place_catalog:hover::before{
  cursor: pointer;
  color: #000;
}

.slick-prev_place_catalog {
  left: -70px;
}

.slick-next_place_catalog {
  right: -70px;
}

.slick-next_place_catalog::before {
  position: absolute;
  content: '\2192';
  font-family: monospace;
  color: white;
  font-size: 40px;
  line-height: 0;
  left: 35%;
  -webkit-transition: color ease-in-out .9s;
  -o-transition: color ease-in-out .9s;
  transition: color ease-in-out .9s;
}

.slick-prev_place_catalog::before {
  position: absolute;
  content: '\2190';
  font-family: monospace;
  color: white;
  font-size: 40px;
  line-height: 0;
  right: 35%;
  -webkit-transition: color ease-in-out .9s;
  -o-transition: color ease-in-out .9s;
  transition: color ease-in-out .9s;
}

/* ------------------------------------------ */

.slick-arrow_place_portfolio {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 0;
  background-color: #FF6901;
  top: 35%;
  cursor: pointer;
  outline: none;
}

.slick-arrow_place_portfolio:hover::before {
  color: #000;
  cursor: pointer;
}

.slick-prev_place_portfolio {
  position: absolute;
  left: 25px;
  z-index: 1;
}

.slick-prev_place_portfolio::before {
  position: absolute;
  content: '\2190';
  font-family: monospace;
  color: white;
  font-size: 40px;
  line-height: 0;
  right: 40%;
  -webkit-transition: color ease-in-out .9s;
  -o-transition: color ease-in-out .9s;
  transition: color ease-in-out .9s;
}

.slick-next_place_portfolio {
  position: absolute;
  right: 25px;
}

.slick-next_place_portfolio::before {
  position: absolute;
  content: '\2192';
  font-family: monospace;
  color: white;
  font-size: 40px;
  line-height: 0;
  right: 40%;
  -webkit-transition: color ease-in-out .9s;
  -o-transition: color ease-in-out .9s;
  transition: color ease-in-out .9s;
}

.slick-current {
  width: 60%;
}

.slick-current .portfolio-slider__photo{
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

/* .portfolio-prev-slide {
  width: 900px !important;
} */


/* --------------шаги для калькулятора------------------- */

.step-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.step-container__buttons {
  /* width: 610px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
}

.step-container__buttons button {
  margin-right: 30px;
}

/* ---------------------------------------------------------- */

/*----------------анимация для бургера---------------------------*/

.burger-button {
  display: none;
  background: transparent;
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

.burger-button:focus {
  outline-width: 0;
}

.burger-button [class*='bar-'] {
  background: #FF6901;
  display: block;
  -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .2s ease all;
          -o-transition: .2s ease all;
          transition: .2s ease all;
  border-radius: 8px;
  height: 5px;
  width: 40px;
  margin-bottom: 10px;

}

.burger-button .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform-origin: 15% 15%;
          -ms-transform-origin: 15% 15%;
      transform-origin: 5% 160%;
}
.opened .bar-mid {
  opacity: 0;
}
.opened .bar-bot {
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transform-origin: -20% -10%;
          -ms-transform-origin: -20% -10%;
      transform-origin: 0 -80%;
}

/* --------------------------------------------- */

/* -------------------Popup-with-form------------------------------ */
.popup {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0, .5);
  -webkit-transition: visibility 1s, opacity 1s ease;
  -o-transition: visibility 1s, opacity 1s ease;
  transition: visibility 1s, opacity 1s ease;
  opacity: 0;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__close {
  background-color: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  top: -56px;
  right: 0;
  opacity: 1;
  transition: opacity .6s ease-in-out;
}

.popup__close:hover {
  opacity: .3;
  cursor: pointer;
}

.popup__container .form-wrapper {
  padding: 100px 80px;
  background: #171C2C url('../images/popup-form-blur-bg.png') 0 100% no-repeat;
  -webkit-box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.popup__container fieldset {
  margin-right: 0;
}

.popup__container input:last-of-type {
  margin-right: 0;
}

.popup-info__container {
  width: 850px;
  border-radius: 2px;
  position: relative;
  padding: 214px 280px 164px;
  background: #171C2C url('../images/popup-info-bg.png') no-repeat 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.popup-info__content::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 75px;
  background: url('../images/list-item-checked-calculator.svg') no-repeat;
  background-size: cover;
  top: -108px;
}


.popup-info__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;

}

.popup-info__subheading {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FF6901;
  max-width: 235px;
  text-align: center;
  margin: 0;
}

/* -------------------Popup-with-form------------------------------ */

.twentytwenty-overlay {
  display: none;
}

.twentytwenty-handle {
  background-color: #000;
  width: 38px;
  height: 38px;
  background: #000000;
 /* border: #FF6901 2px solid; */
} 

/* .twentytwenty-horizontal .twentytwenty-handle::before {
  background-color: #FF6901;
}

.twentytwenty-horizontal .twentytwenty-handle::after {
  background-color: #FF6901;
} */


.no-decoration {
  text-decoration: none;
}

.main-link {
    color: #fff;
    -webkit-transition: color ease-in-out .6s;
    -o-transition: color ease-in-out .6s;
    transition: color ease-in-out .6s;
}

.main-link:hover {
  color: #FF6901;
  cursor: pointer;
}


.block-hidden {
  display: none;
}

